/* stili generali */
body {
    font-family: 'Open Sans', sans-serif;
    /* cancellare */
    text-align: center;
    /* /cancellare */
}

/* cancellare */
.debug {
    height: 500px;
}


/* section:nth-child(4) .container .row{
    height: 300px;
} */

/* /cacellare */

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

.position {
    position: relative;
}

/* /stili generali */

/* nav bar */

nav .container .row {
    height: 50px;
}

nav .container .row .col-lg-4 {
    position: relative;
}

nav .container .row .col-lg-4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item {
    text-align: right;
}

.menu-item li, .menu-languages li {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    font-size: 10px;
}
.menu-languages {
    text-align: left;
}

.menu-languages li {
    padding: 0 5px;
}

.menu-languages li a {
    padding-right: 5px;
}

.menu-item li:hover, .menu-languages li:hover {
    background-color: rgba(64,64,64,0.51);
}

.menu-button{
    display: none;
}

/* /nav bar */

header {
    height: 500px;
    background-image: url('../img/hero-bg.jpg');
    position: relative;
}

.testo-center {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo-center h1 {
font-size: 36px;
}

.testo-center h2 {
    font-size: 16px;
}

.testo-center > * {
    margin-top: 30px;
}

/* 1 sezione */

.row .col-lg-10 .row .col-lg-5 {
    margin: 50px 0;
    height: 600px;
}
.bici-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
}


.bici-container >* {
    margin-top: 20px;
}

.bici-container img {
    width: 100%;
}

.bici-container a {
    color: blue;
}

/* / 1 sezione */

/* 2 sezione  */
.oldman {
    height: 400px;
    background-image: url('../img/index-banner.1f6fd0a.jpg');
    background-size: cover;
    background-position: center;
}
.explain-text:first-child h2 {
    margin-left: calc(100% / 12 * 7);
}

.explain-text-container {
    margin-right: calc(100% / 12 * 7);
}

.explain-text >* {
    text-align: left;
    margin: 150px 0;
}

/* .iphone-container {
    height: 0;
} */

.iphone {
    width: 60%;
    transform: translate(0,-50%);
}

/* /2 sezione */

/* 3 sezione */

section:nth-child(5) {
    background-image: url('../img/scooter.f0a0397.jpg');
    background-size: cover;
    background-position: center;
}

.banner-container {
    width: 100%;
    padding: 150px 0;
}


.banner-container > h2 {
    font-size: 36px;
}

.banner-container > *, .banner-container > h3 > a {
    margin: 30px 0;
    color: white;
}

/* /3 sezione */

/* 4 sezione */

.card-left-container{
    background: linear-gradient(#3f5467, #27323c);
    padding: 30px;
    margin-top: 30px;
}

.card-right-container {
    margin-top: 30px;
}

.card-left >*, .card-left>h3>a, .card-right >*, .card-right>h3>a {
    color: white;
    margin: 20px 0;
}

.card-left > h3:nth-child(n+3) {
    display: inline-block;
}

.card-iphone {
    position: relative;
    z-index: 2;
    margin-top: 50px;
}

.card-right-container { 
    background-image: url('../img/city.7c8c928.jpg');
    background-size: cover;
    background-position: center;
}

.layover {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 30px;
}


/* /4 sezione */


/* 5 sezione */

.index {
    background-color: white;
    position: relative;
    z-index: 8;
}


/* /5 sezione */








@media screen and (min-width: 769px) and (max-width:991px) {
    
    .display-none {
        display: none;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .languages {
        position: relative;
    }

    .iphone {
        opacity: 0;
    }

    .index {
        position: static;
    }

    .card-right-container {
        position: relative;
        z-index: 8;
    }

}









@media screen and (max-width:768px) {

    .display-none {
        display: none;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .languages {
        position: relative;
    }

    .iphone {
        opacity: 0;
    }


    .index {
        position: static;
    }

    .card-right-container {
        position: relative;
        z-index: 8;
    }

    section:nth-child(6) {
        position: relative;
        z-index: 9999;
    }

}