/* stili generali */
body {
    font-family: 'Open Sans', sans-serif;
    /* cancellare */
    text-align: center;
    /* /cancellare */
}

/* cancellare */
.debug {
    height: 500px;
}


section:nth-child(4) .container .row{
    height: 300px;
}

/* /cacellare */

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

.position {
    position: relative;
}

/* /stili generali */

/* nav bar */

nav .container .row {
    height: 50px;
}

nav .container .row .col-lg-4 {
    position: relative;
}

nav .container .row .col-lg-4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item {
    text-align: right;
}

.menu-item li, .menu-languages li {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    font-size: 10px;
}
.menu-languages {
    text-align: left;
}

.menu-languages li {
    padding: 0 5px;
}

.menu-languages li a {
    padding-right: 5px;
}

.menu-item li:hover, .menu-languages li:hover {
    background-color: rgba(64,64,64,0.51);
}

.menu-button{
    display: none;
}

/* /nav bar */

header {
    height: 500px;
    background-image: url('../img/hero-bg.jpg');
    position: relative;
}

.testo-center {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testo-center h1 {
font-size: 36px;
}

.testo-center h2 {
    font-size: 16px;
}

.testo-center > * {
    margin-top: 30px;
}

/* 1 sezione */

.row .col-lg-10 .row .col-lg-5 {
    height: 600px;
}

.bici-container {
    padding: 50px;
    background-color: #fafafa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bici-container >* {
    margin-top: 20px;
}

.bici-container img {
    width: 300px;
}

.bici-container a {
    color: blue;
}

/* / 1 sezione */












@media screen and (min-width: 769px) and (max-width:991px) {
    
    .display-none {
        display: none;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .languages {
        position: relative;
    }
}









@media screen and (max-width:768px) {

    .display-none {
        display: none;
    }

    .menu-button {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .languages {
        position: relative;
    }
}