/* stili generali */
body {
    font-family: 'Open Sans', sans-serif;
    /* cancellare */
    text-align: center;
    text-transform: uppercase;
    /* /cancellare */
}

/* cancellare */
.row {
    height: 500px;
}


section:nth-child(4) .container .row{
    height: 300px;
}

/* /cacellare */

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
}

/* /stili generali */

/* nav bar */

nav .container .row {
    height: 50px;
}

nav .container .row .col-lg-4 {
    position: relative;
}

nav .container .row .col-lg-4 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item {
    text-align: right;
}

.menu-item li, .menu-languages li {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    font-size: 12px;
}
.menu-languages {
    text-align: left;
}
.menu-languages li a {
    padding-right: 5px;
}

.menu-item li:hover, .menu-languages li:hover {
    background-color: rgba(64,64,64,0.51);
}

/* /nav bar */

header {
    background-image: url('../img/hero-bg.jpg');
}

